* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: rgb(226, 226, 213);

	font-family: "Segoe UI", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial,
		sans-serif;
}
#root {
	max-width: 100vw;
	min-width: 291px;
	margin: 0 auto;
	height: 2000px;
	background-color: rgb(170, 170, 167);
}
